.headerBar {
  top: 0;
  right: 0;
  position: fixed;
  background-color: #316adb;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  transition: background-color 0.15s;
  transition-timing-function: ease-in-out;

  .gemButton {
    border: none;
    margin: 0px 10px;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;

    .gemDisplay {
      color: #ffffff;
      background-image: linear-gradient(#9e13ca, #d437ff);
      width: 200px;
      padding: 8px 35px 8px 10px;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer;
      border-radius: 20px;
    }

    .buyGems {
      color: black;
      background-image: linear-gradient(#ffdf3e, #e7b231);
      padding: 8px 10px 8px 10px;
      margin-left: -30px;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer;
      border-radius: 20px;

      &:hover {
        background-image: linear-gradient(to bottom left, #ffffff, #e7b231);
      }
    }
  }

  .profileSection {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: 5px;

    img {
      height: 100%;
    }

    /* For making the logo text not-styled */
    a {
      text-decoration: none;
    }

    p {
      color: black;
      font-weight: 1000;
      margin-right: 30px;
      margin-left: 10px;
    }
  }

  .fa {
    padding: 10px;
    margin-right: 8px
  }
}

.burgerNav {
  background-color: #316adb;
  position: fixed;
  top: 50px;
  right: 0;
  padding: 1px 0px 5px;
  width: 100%;
  height: auto;

  z-index: 1000;

  transition: background-color 0.15s;
  transition-timing-function: ease-in-out;

  a {
    display: block;
    width: 200px;
    text-align: left;
    padding: 15px 100% 15px 15px;
    font-weight: 500;
    text-decoration: none;
    color: white;
  }
}