button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.theme-primary {
  color: white;
  background-color: #4CAF50;

  &:hover {
    background-color: #5ac65f;
  }
}

.theme-white {
  color: black;
  background-color: #ffffff;

  &:hover {
    background-color: #d2d2d2;
  }
}

.mx-1 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.width40 {
  width: 40%;
}

.width50 {
  width: 50%;
}

.width60 {
  width: 60%;
}

.width100 {
  width: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.drop-shadow {
  filter: drop-shadow(0px 6px 8px #3c3c3c);
}

.bodySection {
  width: 100%;
  background-color: #eeeeee;
}

.bodyPadding {
  padding: 20px;
}

.shadow-normal {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
}

.shadow-dark {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.shadow-darker {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

.basicPage {
  background-color: #eeeeee;
}

.floatingButton {
  border: none;
  margin: 0px 10px;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    transition: background-color 0.2s;
    transition-timing-function: ease-in-out;
  }
}
