.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.theme-primary {
  background-color: #65b5eb;
}

.theme-primary:hover {
  background-color: #4780a6;
}

.text-shadow {
  text-shadow: rgba(0,0,0,.3) 0 2px 0;
}

.box-shadow {
  box-shadow: rgba(0,0,0,.3) 0 2px 0;
}

.bodySection {
  width: 100%;
  background-color: white;
}

.bodyPadding {
  margin: 0 10%;
}

.smallBanner {
  width: 100%;
  min-height: 100px;
  background-color: #134c7d;
}
