.copyButton {

  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: calc(0.8rem + 0.7vw);
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  filter: drop-shadow(0px 6px 8px #3c3c3c);

  .divider {
    border-left: 1px solid;
    border-color: rgba(45, 45, 45, 0.3);
    height: 10px;
    margin-left: 0.8vw;
    margin-right: 0.8vw;
  }
}