.shuffleCards {

  width: 100%;
  flex-flow: column wrap;
  justify-content: space-evenly;


  .shuffleCard {
    display: inline-flex;
    margin: 10px;
    width: 300px;
    background-color: #292929;
    flex-flow: column;

    border-style: solid;
    border-width: 10px 0 0 0;
    border-radius: 10px;

    .shuffleContent {
      align-content: center;
      width: 100%;
      height: auto;

      .title {
        font-weight: 700;
        color: white;
      }

      .subtitle {
        font-weight: 500;
        color: white;
      }

      .tag {
        display: inline-flex;
        margin: 0px 2px;

        font-weight: 400;
        font-size: 0.9em;

        color: white;
        text-transform: uppercase;
        background-color: #3b5998;
        padding: 2px 4px;
        border-radius: 2px;
      }

      .lore {
        margin: 0;
        font-weight: 500;
        color: white;
      }

      img {
        height: 100px;
        width: 100px;
      }
    }
  }
}


.selectorButton-inactive {
  background-color: #d4d4d4;
  color: white;
  border: none;
  margin: 0;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.selectorButton-active {
  background-color: #3dafff;
  color: #ffffff;
  border-style: none;
  margin: 0;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}