.shuffleCards {

  width: 100%;
  flex-flow: column wrap;
  justify-content: space-evenly;

  .bookmarkTriangle {
    position: relative;
    width: 0;
    height: 0;
    top: 0px;
    left: 48px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;

    border-right: 12px solid #292929;
  }

  .rarityBanner {
    background-image: linear-gradient(to right, rgba(60,60,60,0.3) 0%, transparent 25%);
    border-radius: 6px 0px 0px 6px;
    position: absolute;
    height: 36px;
    width: 60px;
    top: 12px;
    left: -6px;
  }

  .rarity-Common {
    background-color: #ffffff;
  }
  .rarity-Uncommon {
    background-color: #2b83ff;
  }
  .rarity-Rare {
    background-color: #942dcf;
  }
  .rarity-Epic {
    background-color: #fc5656;
  }
  .rarity-Unique {
    background-color: #f8bd24;
  }

  .shuffleCard {
    display: inline-flex;
    position: relative;
    margin: 10px;
    width: 300px;
    background-color: #292929;

    border-style: solid;
    border-width: 10px 0 0 0;
    border-radius: 10px;

    flex-flow: column;

    .shuffleContent {
      flex-flow: column;

      .shuffleElement {
        align-content: center;
        width: 100%;
        height: auto;

        .title {
          font-weight: 700;
          color: white;
        }

        .subtitle {
          font-weight: 500;
          color: white;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .subContent {
            padding: 0px 2px;
            margin: 0px 5px;
            text-align: center;
          }
        }

        .tag {
          display: inline-flex;
          margin: 0px 2px;

          font-weight: 600;
          font-size: 0.7em;

          color: white;
          text-transform: uppercase;
          background-color: #3b5998;
          padding: 4px 6px;
          border-radius: 2px;

          &:hover {
            background-color: #4c6db1;
          }
        }

        .lore {
          margin: 0;
          font-weight: 500;
          color: white;
        }

        img {
          height: 100px;
          width: 100px;
        }
      }
    }
  }
}

.selectorButton-clear {
  background-color: #de4040;
  color: white;
  border: none;
  margin: 0;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.selectorButton-inactive {
  background-color: #d4d4d4;
  color: white;
  border: none;
  margin: 0;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.selectorButton-active {
  background-color: #3dafff;
  color: #ffffff;
  border-style: none;
  margin: 0;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}